@model SampleMembership.Models.Survey

@{
    ViewBag.Title = "Report Form";
}

<h2>@Model.Name</h2>


@using (Html.BeginForm("ReportForm", "CHANGEME", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form>




    </form>
}