
@{
    ViewBag.Title = "CreateGraph";
}


<h2>Create a Graph</h2>
<select>
    <option value="" disabled="disabled" selected="selected">Select a Question</option>
    <option value="1">Question 1</option>
    <option value="2">Question 2</option>
    <option value="3">Question 3</option>
</select>


<p><h2>
    @Html.ActionLink("Create Pie Chart", "PieChart")
    
  </h2>
</p> 

@Html.ActionLink("Back to Reports", "Index")


