@model IEnumerable<SampleMembership.Models.Survey>


<td> Populating With Hardcoded Data</td> 

   @Html.DropDownList("MySkills", new List<SelectListItem>
{
   new SelectListItem{ Text="Survey 1", Value = "1" },
   new SelectListItem{ Text="Survey 2", Value = "2" },
   new SelectListItem{ Text="Survey 3", Value = "3" },
   new SelectListItem{ Text="Survey 4", Value = "4" },

})
  



  
