
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>




<font>Example of Graphs</font>
<p><font size="6">@Html.ActionLink("Example of Pie Graph", "PieChart") </font> </p>


<p><font size="6">@Html.ActionLink("Example of Line Graph", "LineGraph") </font> </p>

