
@{
    ViewBag.Title = "Index";
}


<font size="16">
    

<p>@Html.ActionLink("Import Data", "Import")
   @Html.ActionLink("Create Graph", "CreateGraph")</p>

 <font>Example of Graphs</font>
<p><font size="6">@Html.ActionLink("Example of Pie Graph", "PieChart") </font> </p>


<p><font size="6">@Html.ActionLink("Example of Line Graphh", "LineGraph") </font> </p>

