@model IEnumerable<SampleMembership.Models.Survey>
@{
    ViewBag.Title = "Index";
}
<h2>Reports</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.ActionLink("Generate Report", "Report", new { id = item.SurveyID })
            </td>
        </tr>
    }
</table>
