
@{
    ViewBag.Title = "Index";
}

<h2>Graphs</h2>




<font>Example of answers on question one on Hubbard House survey</font>
<p><font size="6">@Html.ActionLink("Example of Pie Graph", "PieChart") </font> </p>


<font>Example of answers on Questions  1-3 answered over seven years.</font> 
<p><font size="6">@Html.ActionLink("Example of Line Graph", "LineGraph") </font> </p>

