@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Hubbard House Survey Analysis Dashboard</h1>
    <p class="lead">Designed to provide readable information for Hubbard House Executives</p>
    <hr class="my-4">
</div>

