@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Highcharts Example</title>
    <style type="text/css">
    </style>
</head>
<div>
    <h2 class="display-3">Hubbard House Survey Analysis Dashboard</h2>
    <hr class="my-4">
</div>
<body>
    <div id="container" style="min-width: 410px; height: 500px; max-width: 700px; margin: 0 auto"></div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
    var series = new Array();

    $(function () {
        $.ajax({
            url: 'api/highcharts',
            dataType: "json",
            type: "GET",
            cache: false,
            success: function (data) {
                for (var i in data) {
                    var serie = new Array(data[i].Quantity, data[i].Month);
                    series.push(serie);
                }
                DrawPieChart();
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    });


    function DrawPieChart() {
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Average rating (1-5) for Question 1: I would recommend Hubbard House to family and friends.'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Percentage of Surveys',
                colorByPoint: true,
                data: series
            }]
        })
    };
</script>