@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hubbard House Survey Analysis Dashboard</h1>
    <p class="lead">Work in Progress</p>

</div>

<div class="row">
    <div class="col-md-4">
      

    </div>

</div>