
@{
    ViewBag.Title = "Form1";
}

<h2>Hubbard House Resident Exit Interview/Satisfaction Survey</h2>

@using (Html.BeginForm("Form1", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <form>
        <br />
        Month(1-12): <input type="text" name="month" pattern="[1-9]{1}|[1-2]{2}" required /> &nbsp; &nbsp; Year(4 digit): <input type="text" name="year" pattern="[0-9]{4}" required />
        <br />
        <br />
        <br />
        <br />
        <h2>1. I feel more hopeful about the future.</h2><br />
        Number of yes responses:
        <input type="number" name="s1q1y" value="0" min="0" max="9999" /><br />
        Number of no reponses: &nbsp;&nbsp;
        <input type="number" name="s1q1n" value="0" min="0" max="9999" /><br />
        <br />

        <h2>2. I know more ways to plan for my safety.</h2><br />
        Number of yes responses:
        <input type="number" name="s1q2y" value="0" min="0" max="9999" /><br />
        Number of no reponses: &nbsp;&nbsp;
        <input type="number" name="s1q2n" value="0" min="0" max="9999" /><br />
        <br />

        <h2>3. I know that I will achieve the goals I set for myself.</h2><br />
        Number of yes responses:
        <input type="number" name="s1q3y" value="0" min="0" max="9999" /><br />
        Number of no reponses: &nbsp;&nbsp;
        <input type="number" name="s1q3n" value="0" min="0" max="9999" /><br />
        <br />

        <h2>4. I know more about my rights and options.</h2><br />
        Number of yes responses:
        <input type="number" name="s1q4y" value="0" min="0" max="9999" /><br />
        Number of no reponses: &nbsp;&nbsp;
        <input type="number" name="s1q4n" value="0" min="0" max="9999" /><br />
        <br />

        <h2>5. I feel more comfortable asking for help.</h2><br />
        Number of yes responses:
        <input type="number" name="s1q5y" value="0" min="0" max="9999" /><br />
        Number of no reponses: &nbsp;&nbsp;
        <input type="number" name="s1q5n" value="0" min="0" max="9999" /><br />
        <br />

        <h2>6. I feel more confident in making decisions.</h2><br />
        Number of yes responses:
        <input type="number" name="s1q6y" value="0" min="0" max="9999" /><br />
        Number of no reponses: &nbsp;&nbsp;
        <input type="number" name="s1q6n" value="0" min="0" max="9999" /><br />
        <br />

        <h2>7. I feel like I can do more things.</h2><br />
        Number of yes responses:
        <input type="number" name="s1q7y" value="0" min="0" max="9999" /><br />
        Number of no reponses: &nbsp;&nbsp;
        <input type="number" name="s1q7n" value="0" min="0" max="9999" /><br />
        <br />

        <h2>8. I know more about community resources.</h2><br />
        Number of yes responses:
        <input type="number" name="s1q8y" value="0" min="0" max="9999" /><br />
        Number of no reponses: &nbsp;&nbsp;
        <input type="number" name="s1q8n" value="0" min="0" max="9999" /><br />
        <br />

        <h2>9. I get more support from my family and friends.</h2><br />
        Number of yes responses:
        <input type="number" name="s1q9y" value="0" min="0" max="9999" /><br />
        Number of no reponses: &nbsp; &nbsp;
        <input type="number" name="s1q9n" value="0" min="0" max="9999" /><br />
        <br />







        <h2>10. Overall, I am satisfied with the services received through Hubbard House.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q101" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q102" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q103" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q104" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q105" value="0" min="0" max="9999" /><br />
        <br />

        <h2>11. I was given equal access to services without descrimination.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q111" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q112" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q113" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q114" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q115" value="0" min="0" max="9999" /><br />
        <br />

        <h2>12. I was treated with respect by staff.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q121" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q122" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q123" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q124" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q125" value="0" min="0" max="9999" /><br />
        <br />

        <h2>13. There was someone to go to with my complaints.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q131" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q132" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q133" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q134" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q135" value="0" min="0" max="9999" /><br />
        <br />

        <h2>14. While living at Hubbard House, I felt that I was safe from the person who abused me.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q141" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q142" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q143" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q144" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q145" value="0" min="0" max="9999" /><br />
        <br />

        <h2>15. Shelter rules are reasonable.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q151" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q152" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q153" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q154" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q155" value="0" min="0" max="9999" /><br />
        <br />

        <h2>16. Sleeping arrangements were satisfactory.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q161" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q162" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q163" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q164" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q165" value="0" min="0" max="9999" /><br />
        <br />

        <h2>17. Enough food was available without having to ask staff.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q171" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q172" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q173" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q174" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q175" value="0" min="0" max="9999" /><br />
        <br />

        <h2>18. I had enough dishes to cook and eat with while in the shelter.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q181" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q182" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q183" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q184" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q185" value="0" min="0" max="9999" /><br />
        <br />

        <h2>19. Enough personal hygiene supplies were available without having to ask staff.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q191" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q192" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q193" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q194" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q195" value="0" min="0" max="9999" /><br />
        <br />

        <h2>20. Enough laundry detergent was available without having to ask staff.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q201" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q202" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q203" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q204" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q205" value="0" min="0" max="9999" /><br />
        <br />

        <h2>21. Enough cleaning supplies were available without having to ask staff.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q211" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q212" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q213" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q214" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q215" value="0" min="0" max="9999" /><br />
        <br />

        <h2>22. Enough paper supplies (toilet paper, paper towels) were available without having to ask staff.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q221" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q222" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q223" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q224" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q225" value="0" min="0" max="9999" /><br />
        <br />

        <h2>23. I wish that Hubbard House had a curfew for adult residents.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q231" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q232" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q233" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q234" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q235" value="0" min="0" max="9999" /><br />
        <br />

        <h2>24. I wish that Hubbard House had security cameras in residential areas like hallways, living rooms, kitchens, and the lanai.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q241" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q242" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q243" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q244" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q245" value="0" min="0" max="9999" /><br />
        <br />

        <h2>25. I felt safe with other residents while living at Hubbard House.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q251" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q252" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q253" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q254" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q255" value="0" min="0" max="9999" /><br />
        <br />

        <h2>26. Enough appointments were avalable to meet with Victim Advocates.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q261" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q262" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q263" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q264" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q265" value="0" min="0" max="9999" /><br />
        <br />

        <h2>27. Victim Advocates understood my needs and concerns.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q271" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q272" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q273" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q274" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q275" value="0" min="0" max="9999" /><br />
        <br />

        <h2>28. Individual meetings with Victim Advocates were helpful.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q281" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q282" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q283" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q284" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q285" value="0" min="0" max="9999" /><br />
        <br />

        <h2>29. Groups were helpful</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q291" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q292" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q293" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q294" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q295" value="0" min="0" max="9999" /><br />
        <br />

        <h2>30. I developed goals to achieve while in shelter.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q301" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q302" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q303" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q304" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q305" value="0" min="0" max="9999" /><br />
        <br />

        <h2>31. I learned about the dynamics of domestic violence.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q311" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q312" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q313" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q314" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q315" value="0" min="0" max="9999" /><br />
        <br />

        <h2>32. The COACH Career Specialist helped me.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q321" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q322" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q323" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q324" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q325" value="0" min="0" max="9999" /><br />
        <br />

        <h2>33. Overall, children's services were helpful to my family.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q331" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q332" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q333" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q334" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q335" value="0" min="0" max="9999" /><br />
        <br />

        <h2>34. My child(ren) recieved enough counseling and it was helpful.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q341" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q342" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q343" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q344" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q345" value="0" min="0" max="9999" /><br />
        <br />

        <h2>35. I would recommend the Hubbard House to family and friends.</h2><br />
        Number of 1 responses:
        <input type="number" name="s1q351" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        2:
        <input type="number" name="s1q352" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        3:
        <input type="number" name="s1q353" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        4:
        <input type="number" name="s1q354" value="0" min="0" max="9999" />&nbsp; &nbsp; &nbsp;
        5:
        <input type="number" name="s1q355" value="0" min="0" max="9999" /><br />
        <br />



        <script src="/js/addInput.js" language="Javascript" type="text/javascript"></script>
        <h2>Comments:</h2><br />
        <div id="dynamicInput">
            Comment 1<br><input type="text" name="myInputs[]">
        </div>
        <input type="button" value="Add another comment input" onClick="addInput('dynamicInput');">




        <br />
        <button>Submit</button>
    </form>
}

