@model IEnumerable<SampleMembership.Models.Survey>

@{
    ViewBag.Title = "Index";
}
<h2>Data Entry</h2>


<table class="table">
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.ActionLink("Enter Data", "ImportForm", new { id = item.SurveyID })
        </td>
    </tr>
}
</table>


<br />




@Html.ActionLink("Answers", "Index", "Answers")
<br />