@model SampleMembership.Models.Survey

@{
    ViewBag.Title = "SXQEdit Form";
}

<br />
<br />

<h2>@Model.Name</h2>

<br />
<br />
<br />

@foreach (var item in Model.SurveyQuestions)
{
    @item.QText
    <br />
}

<br />
<br />
<br />



@using (Html.BeginForm("SXQAdd", "Surveys", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form>

        Select a question to add: <br />

        @Html.DropDownList("qAdd", Model.AllQuestions.Select(x => new SelectListItem { Text = x.QText, Value = x.QuestionID.ToString() }))
        <br />
        <button>Add</button>
        @Html.HiddenFor(m => m.SurveyID)
    </form>
}

<br />
<br />




